@font-face {
    font-family: 'Play';
    src: url('/fonts/Play-Regular.eot');
    src: url('/fonts/Play-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Play-Regular.woff2') format('woff2'),
        url('/fonts/Play-Regular.woff') format('woff'),
        url('/fonts/Play-Regular.ttf') format('truetype'),
        url('/fonts/Play-Regular.svg#Play-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Play';
    src: url('/fonts/Play-Bold.eot');
    src: url('/fonts/Play-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Play-Bold.woff2') format('woff2'),
        url('/fonts/Play-Bold.woff') format('woff'),
        url('/fonts/Play-Bold.ttf') format('truetype'),
        url('/fonts/Play-Bold.svg#Play-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('/fonts/ProximaNova-Regular.eot');
    src: url('/fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/ProximaNova-Regular.woff2') format('woff2'),
        url('/fonts/ProximaNova-Regular.woff') format('woff'),
        url('/fonts/ProximaNova-Regular.ttf') format('truetype'),
        url('/fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('/fonts/ProximaNova-Bold.eot');
    src: url('/fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/ProximaNova-Bold.woff2') format('woff2'),
        url('/fonts/ProximaNova-Bold.woff') format('woff'),
        url('/fonts/ProximaNova-Bold.ttf') format('truetype'),
        url('/fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
